.cards{
    margin-top: 51px;
}

.cards__list{
    display: grid;
    margin: 0;
    justify-content: center;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fit,282px);
    grid-gap: 20px 17px;
    padding: 0;
}